@model TestWebApplication.Models.UserModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="card">

                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName, "", new { @class = "form-control", @placeholder = "UserName" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                        @*@if (ViewBag.error != null)
                        {
                            <span class="badge badge-danger">@ViewBag.error</span>
                        }*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.gender)
                        @Html.TextBoxFor(m => m.gender, "", new { @class = "form-control", @placeholder = "Gender" })
                        @Html.ValidationMessageFor(m => m.gender, "", new { @class = "badge badge-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.phoneNumber)
                        @Html.TextBoxFor(m => m.phoneNumber, "", new { @class = "form-control", @placeholder = "Phone Number" })
                        @Html.ValidationMessageFor(m => m.phoneNumber, "", new { @class = "badge badge-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.city)
                        @Html.TextBoxFor(m => m.city, "", new { @class = "form-control", @placeholder = "City" })
                        @Html.ValidationMessageFor(m => m.city, "", new { @class = "badge badge-danger" })

                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="Register" />
                    </div>

                </div>
            </div>
            if (ViewBag.error != null)
            {
                <span class="badge badge-danger">@ViewBag.error</span>
            }

        }
    </div>
</div>